<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Home</title>
</head>
<body>
  <div>
   <div class="topnav">
  <a href="#Bright">Welcome, <%= user.username %></a>
  <a href="/logout" class="right"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>

  </div>
</body>
</html>